 
python-dotenv
langchain_ollama
python-dotenv
google-genai
certifi
truststore
 
 
 
langchain-groq
langchain-openai
langsmith
 
langchain-huggingface
huggingface-hub
 
langchain-aws
langchain-ollama
 
langchain-tavily
tavily-python
pypdf
 
sentence-transformers
 
transformers
torch
streamlit
 
pymupdf


